<h1>
 {{title}}
</h1>
<div>
 Search: <b>{{name}}</b>
 <button (click)="clicked($event)">foo</button>
 <input [(ngModel)]="name">
 <table width="650" border="1" cellspacing="0" cellpadding="5">
  <tr>
   <th scope="col">title</th>
   <th scope="col">url</th>
   <th scope="col">channel</th>
   <th scope="col">views</th>
  </tr>
  <tr *ngFor="let movie of movies">
   <td>{{movie.title}}</td>
   <td>{{movie.url}}</td>
   <td>{{movie.channel}}</td>
   <td>{{movie.views}}</td>
  </tr>
 </table>
 <div *ngFor="let result of results">
  {{result.title}}
 </div>
</div>
